<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newonebuy"
    android:versionCode="9"
          xmlns:tools="http://schemas.android.com/tools"
    android:versionName="1.17" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <application
        android:name="com.example.util.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logobig"
        android:label="@string/app_name"
        tools:replace="android:icon"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="PGYER_APPID"
            android:value="1455dadf776f1c3da72b22d56383eec6" >
        </meta-data>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a17aa0f04e4c8ba0eb61be1f261d988e" >
        </meta-data>

        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" >
        </service>

        <activity
            android:name="com.example.onebuy.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.example.onebuy.AddressActivity"
            android:label="@string/title_activity_address" >
        </activity>
        <activity
            android:name="com.example.onebuy.AddAddressActivity"
            android:label="@string/title_activity_add_address" >
        </activity>
        <activity
            android:name="com.example.onebuy.MyInfoActivity"
            android:label="@string/title_activity_my_info"
            android:launchMode="standard" >
        </activity>
        <activity
            android:name="com.example.onebuy.ChangeQQActivity"
            android:label="@string/title_activity_change_qq" >
        </activity>
        <activity
            android:name="com.example.onebuy.ChangeNameActivity"
            android:label="@string/title_activity_change_name" >
        </activity>
        <activity
            android:name="com.example.onebuy.ChangeSignActivity"
            android:label="@string/title_activity_change_sign" >
        </activity>
        <activity
            android:name="com.example.onebuy.SetActivity"
            android:label="@string/title_activity_set" >
        </activity>
        <activity
            android:name="com.example.onebuy.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name="com.example.onebuy.ChangePwdActivity"
            android:label="@string/title_activity_change_pwd" >
        </activity>
        <activity
            android:name="com.example.onebuy.DetailActivity"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name="com.example.onebuy.ImaTextActivity"
            android:label="@string/title_activity_ima_text" >
        </activity>
        <activity
            android:name="com.example.onebuy.AllShowActivity"
            android:label="@string/title_activity_all_show" >
        </activity>
        <activity
            android:name="com.example.onebuy.ShowDetailActivity"
            android:label="@string/title_activity_show_detail" >
        </activity>
        <activity
            android:name="com.example.onebuy.AllOrderActivity"
            android:label="@string/title_activity_all_order" >
        </activity>
        <activity
            android:name="com.example.onebuy.ShowActivity"
            android:label="@string/title_activity_show" >
        </activity>
        <activity
            android:name="com.example.onebuy.AllBuyActivity"
            android:label="@string/title_activity_all_buy" >
        </activity>
        <activity
            android:name="com.example.onebuy.AccountDetailActivity"
            android:label="@string/title_activity_account_detail" >
        </activity>
        <activity
            android:name="com.example.onebuy.ChargeActivity"
            android:label="@string/title_activity_charge" >
        </activity>
        <activity
            android:name="com.example.onebuy.LocationActivity"
            android:label="@string/title_activity_location"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.example.onebuy.TimeActivity"
            android:label="@string/title_activity_time" >
        </activity>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105302848" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56fde20967e58e0beb001c4e" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia" />

        <activity
            android:name="com.example.onebuy.SocialSignUpActivity"
            android:label="@string/title_activity_social_sign_up"
            android:theme="@style/Theme.AppCompat.Translucent" >
        </activity>
        <activity
            android:name="com.example.onebuy.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.example.onebuy.LocationTwoActivity"
            android:label="@string/title_activity_location_two" >
        </activity>
        <activity
            android:name="com.example.onebuy.ShareActivity"
            android:label="@string/title_activity_share" >
        </activity>
        <activity
            android:name="com.example.onebuy.MyWinActivity"
            android:label="@string/title_activity_my_win" >
        </activity>
        <activity
            android:name="com.example.onebuy.MyShowActivity"
            android:label="@string/title_activity_my_show" >
        </activity>
        <activity
            android:name="com.example.onebuy.ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name="com.example.onebuy.CalculateResultActivity"
            android:label="@string/title_activity_calculate_result" >
        </activity>
        <activity
            android:name="com.example.onebuy.LogInActivity"
            android:label="@string/title_activity_log_in" >
        </activity>
        <activity
            android:name="com.example.onebuy.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.example.onebuy.MyWinDetailActivity"
            android:label="@string/title_activity_my_win_detail" >
        </activity>
        <activity
            android:name="com.example.onebuy.ChoosePicActivity"
            android:label="@string/title_activity_choose_pic"
            android:theme="@style/Theme.AppCompat.Translucent" >
        </activity>
        <activity
            android:name="com.example.onebuy.AgreementActivity"
            android:label="@string/title_activity_agreement" >
        </activity>
        <activity
            android:name="com.example.onebuy.ExchangeActivity"
            android:label="@string/title_activity_exchange" >
        </activity>
        <activity
            android:name="com.example.onebuy.PayActivity"
            android:label="@string/title_activity_pay" >
        </activity>
        <activity
            android:name="com.example.onebuy.ForgetPwdActivity"
            android:label="@string/title_activity_forget_pwd" >
        </activity>
        <activity
            android:name="com.example.onebuy.AboutUsActivity"
            android:label="@string/title_activity_about_us" >
        </activity>
        <activity
            android:name="com.example.onebuy.IdeaActivity"
            android:label="@string/title_activity_idea" >
        </activity>
        <activity
            android:name="com.example.onebuy.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" >
        </service>

        <activity
            android:name="com.example.onebuy.BannerDetailActivity"
            android:label="@string/title_activity_banner_detail" >
        </activity>
        <activity
            android:name="com.example.onebuy.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.example.onebuy.ShareTwoActivity"
            android:label="@string/title_activity_share_two" >
        </activity>
        <activity
            android:name="com.example.onebuy.TwoCodeActivity"
            android:label="@string/title_activity_two_code" >
        </activity>
        <activity
            android:name="com.example.onebuy.StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>